<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../static/layout/styles/style.css">
<style>
    img{
    width:800px;
    heigth:100px;
}
</style>
</head>

<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1><font face="Cooper">Fraud Detection Using Machine Learning</font></h1>
    </header>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="index.html" class="active">Home</a>
            </li>

            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/">Logout</a>
            </li>
        </ul>
    </nav>
    <br><br>
<center><img src="static/images/ayur.jpg" style="box-shadow: 0 0 20px black;"></img></center>
    <!-- Main Footer -->

</body>

</html>