<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>predict page</title>
    <link rel="stylesheet" type="text/css" href="../static/layout/styles/style.css">
    <style>
        img{
        width:800px;
        heigth:400px;
    }
    </style>
</head>

<body>
 
    <header class="main-header">
        <h1><font face="Cooper">Fraud Detection Using Machine Learning</font></h1>
    </header>

    <nav>
        <ul>
            <li>
                <a href="#" class="active">Home</a>
            </li>

            <li>
                <a href="/prediction">Prediction</a>
            </li>
            <li>
                <a href="/graphs">Analysis</a>
            </li>
            <li>
                <a href="/graphs">Graphs</a>
            </li>
          
          
            <li>
                <a href="/">Logout</a>
            </li>
        </ul>
    </nav>
    <br><br>
<center><img src="static/images/AyurvedaMindBodyMedicine.jpg" style="box-shadow: 0 0 20px black;"></img></center>

 
</body>

</html>